%h1.logo synonium.
%p.tagline
	Type a word in the box and hit enter and I'll show you the synonyms of that word. Type another word in the box
	and I'll show you the synonyms those words have in common.
%form
	%input{:type=>"text", :autofocus=>true}
%ul.inputs
%hr
%ul.synonyms

